body {
  background-color: rgb(170, 214, 214);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(126, 172, 172);
}
header img {
  margin: 15px;
}
header button {
  margin: 20px;
  background-color: rgb(24, 107, 184);
  width: 100px;
  color: #ffffff;
  height: 40px;
  border-radius: 10px;
  border: none;
}
header input[type="Text"] {
  width: 200px;
  height: 40px;
  color: white;
  border: none;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  background-color: rgb(113, 188, 238);
}
.loader p {
  text-align: center;
  color: black;
  font-size: x-large;
}
